body {
  margin: 0;
  font-family: "Crimson Text";
  /* font-family: "Ovo"; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  float: right;
  padding-right: 25%;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 50px;
  color: black;
  text-align: center;
  width: 20%;
  /* border: solid red; */
}

.who-are-we {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.why-us {
  padding-top: 50px;
  width: 60%;
  margin: auto;
  font-size: 20px;
}

.why-trust-us p {
  font-size: 25px;
}

.who-are-we-text {
  width: 40%;
  padding-right: 50px;
}

.who-are-we-text p {
  font-size: 25px;
}

.jun {
  border-radius: 50%;
  height: auto;
  width: 40%;
}

.who-are-we-image {
  width: 20%;
  height: 100%;
}

.stats-box-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}
.stats-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.stats-box-row {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.stats-box-row p {
  font-size: 1.7vw;
}
.padding-top50 {
  padding-top: 50px;
}

.mission-statement {
  padding: 15px;
  width: 85%;
  margin: auto;
  font-size: 25px;
  outline-style: double;
  outline-color: black;
  outline-width: thick;
}
.home-image {
  background: no-repeat url(images/home-background.jpg) 50% / 100%;
  /* display: block; */
  /* max-width: 2492px;
  max-height: 739px; */
  /* background-image: url(images/home-background.jpg); */
  /* background-size: contain;
  background-repeat: no-repeat; */
}
.hidden {
  width: 100%;
  opacity: 0;
  vertical-align: top;
  visibility: hidden;
}

.home-image-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.test {
  /* display: block;
  max-width: 2492px;
  max-height: 739px; */
  height: auto;
  width: 100%;
}

.home-content {
  margin: auto;
  width: 80%;
  background-color: white;
  padding-bottom: 75px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-tabs {
  padding-top: 0.5%;
  cursor: pointer;
}
.navbar-top {
  align-self: flex-end;
  padding-right: 2%;
  font-size: 17px;
  color: black;
  cursor: pointer;
}

.stats {
  padding-right: 30px;
}

.bold-stats {
  color: #7b0000;
  font-size: 5vw;
  font-weight: bolder;
}

.reviews-container {
  margin: auto;
  width: 100%;
}
.review {
  padding: 15px;
  outline-style: solid;
  outline-color: lightgray;
}

.review-text {
  text-align: left;
}

.review-stars {
  color: #7b0000;
}

.home-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  background-color: #7b0000;
  padding-bottom: 50px;
}

.accounting-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  background-color: #7b0000;
  padding-bottom: 50px;
}

.accounting-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 80%;
  margin: auto;
  align-items: center;
}

.accounting-image {
  background-image: url(images/alt-background.jpg);
  height: auto;
  width: 100vw;
}

.accounting-text {
  text-align: right;
  padding-right: 150px;
  padding-top: 450px;
  color: #7b0000;
}

.accounting-header {
  padding: 15px;
  font-weight: bold;
  font-size: 55px;
  width: auto;
  margin: auto;
  color: #7b0000;
}

.accounting-our-team {
  text-align: left;
  width: 30%;
  font-size: 23px;
}

.accounting-why-us {
  text-align: center;
  border: solid black;
  padding: 10px;
  font-size: 20px;
}

.accounting-pictures {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.accounting-reviews {
  padding-top: 40px;
  width: 60%;
}

.accounting-picture {
  width: 30%;
  height: auto;
  border-radius: 50%;
}

.accounting-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.accounting-row * {
  padding: 25px;
}

.accounting-row p {
  width: 40%;
  /* padding: 40px; */
}

@media only screen and (max-width: 768px) {
  .bold-stats {
    font-size: 30px;
  }
}
